VITE_SUPABASE_URL=https://dzmfodwpqhywsrrbhbuv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6bWZvZHdwcWh5d3NycmJoYnV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1NTIzNDMsImV4cCI6MjA5OTEyODM0M30.3nJ9_8CQYLVHUGHRvqFgKcAkYjSgXtyDmUlhQRISstw
VITE_ADMIN_PASSWORD=050726GS
